.fundo {
    margin: 0; /* Remove margens padrão do corpo */
    padding: 0; /* Remove preenchimento padrão do corpo */
    background-image: url('/img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    backdrop-filter: blur(4px);
}
.pesquisa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
}
.menususpenso{
    height: 60px;
}
#anoSelect{
    width: 80px;
}
#escolaSelect{
    width: 800px;
}

.escola{
    grid-row-start: 1;
    grid-column-start: 2;
    margin-top: 200px;
    
}
.ano{
    grid-row-start: 1;
    grid-column-start: 1;
    margin-left: 393px;
    margin-top: 200px;
}
.lupa{
    grid-row-start: 1;
    grid-column-start: 3;
    background-color: white;
    height: 58px;
    width: 59px;
    margin-top: 201px;

}
.filtro{
    grid-row-start: 1;
    grid-column-start: 3;
    background-color: white;
    height: 38px;
    width: 40px;
    margin-top: 201px;
    margin-left: 60px;
    padding: 10px;
    
    
}
.titulo{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 70px;
    background-color: antiquewhite;
    height: 100px;
    text-align: center;
}
#informacoesEscola{
    grid-row-start: 2;
    grid-column-start: 2;
    overflow: auto;
}
#filtro {
    display: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Ajuste conforme necessário */
    grid-row-start: 1;
    grid-column-start: 2;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: antiquewhite;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 1200px) {
    .pesquisa {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .escola, .ano, .lupa, .filtro, .titulo, #informacoesEscola, table {
        grid-column: 1;
        justify-self: center;
        text-align: center;
    }
    .escola{
        margin-right: 150px;
    }
    .ano{
        margin-right: 45px;
    }

    .lupa {
        margin-left: 530px;
        margin-bottom: 10px;
    }
    .filtro {
        margin-left: 600px;
    }

    #escolaSelect {
        width: 100%;
        max-width: 400px;
        margin-top: 10px;
    }

    #anoSelect {
        width: 100%;
        max-width: 130px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    #escolaSelect, #anoSelect {
        width: 100%;
        max-width: none; /* Remova a largura máxima para ocupar a largura total */
        margin-top: 10px;
    }
}
